#Use by tadarida_C data-manager for machine learning classifier use by tadarida_c tool.
#See https://github.com/YvesBas/Tadarida-C for more information.
#<unique_id>	<classifier_name>	<classifier_file_path>